/* Put your CSS here */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\000032}}
html, body {
  margin: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\000036}}
h2 {
  font-size: 1.1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\0000310}}
.notification-bar {
  background: yellow;
  font-weight: bold;
  text-align: center;
  position: fixed;
  top: 10px;
  left: 10%;
  width: 80%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\0000323}}
.game-list {
  margin: 0;
  list-style-type: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\0000326}}
  .game-list li {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid gray; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\0000330}}
    .game-list li .friend-thumb {
      display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\0000332}}
      .game-list li .friend-thumb img {
        height: 54px;
        width: 54px;
        border: 2px solid white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\0000338}}
      .game-list li .friend-thumb img.is-current {
        border: 2px solid lightgreen; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\0000345}}
.hex {
  background: url(/images/hex/empty.png) no-repeat;
  width: 80px;
  height: 65px;
  margin: 0;
  display: inline-block;
  line-height: 65px;
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
  color: white;
  -webkit-text-stroke: 1px black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\0000357}}
  .hex.has-colony {
    background: url(/images/hex/colony.png) no-repeat;
    text-indent: -9999px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\0000363}}
.card {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  padding: 2px;
  background: #889;
  width: 120px;
  height: 180px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
  -webkit-transform: scale(0.8, 0.8);
  margin: -18px -18px -18px -30px;
  transition: -webkit-transform 300ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\0000375}}
  .card:hover {
    -webkit-transform: scale(1.2, 1.2);
    position: relative;
    z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\0000380}}
  .card header {
    background: #eee;
    font-weight: bold;
    padding: 3px;
    font-size: 1em;
    text-align: center;
    margin-bottom: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\0000388}}
  .card img {
    width: 120px;
    height: 80px;
    background: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\0000393}}
  .card p {
    font-size: 0.8em;
    line-height: 15px;
    padding: 3px;
    background: white;
    margin: 3px 0;
    border-radius: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\00003103}}
  .card section.set .set-value {
    width: 23%;
    border: 1px solid black;
    background: white;
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\00003113}}
  .card section.set.set3 {
    text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\00003119}}
.selected {
  box-shadow: 0px 0px 20px blue; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\00003121}}
  .selected.secret {
    box-shadow: 0 0 20px red; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\00003126}}
.discards {
  margin-left: 80px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\00003128}}
  .discards .card {
    margin-left: -80px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\00003133}}
.bank {
  height: 220px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\00003135}}
  .bank .stack {
    display: inline-block;
    margin-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\00003138}}
    .bank .stack .card {
      position: relative;
      display: block;
      margin-bottom: -181px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\00003146}}
.offers {
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\00003148}}
  .offers canvas {
    position: absolute; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\00003151}}
  .offers ul {
    display: inline-block;
    position: relative;
    list-style: none;
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\00003154}}
    .offers ul.my {
      margin-right: 20em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\00003159}}
    .offers ul li {
      border: 1px solid black;
      border-radius: 5px;
      background: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ben\/workspaces\/Commerce\/ember\/css\/style\.scss}line{font-family:\00003163}}
      .offers ul li .card {
        -webkit-transform: scale(0.6, 0.6);
        margin: -25px -25px; }
