/* Put your CSS here */
html, body {
    margin: 20px;
}

.game-list {
	margin: 0;
	list-style-type:none;
	li {
		margin-bottom:1em;
		padding-bottom:1em;
		border-bottom: 1px solid gray;
		.friend-thumb { 
			display: inline-block;
			img {
				height:54px;
				width:54px;
				border: 2px solid white;
			}

			img.is-current {
				border: 2px solid lightgreen;
			}
		}
	}
}

.card {
	box-shadow:2px 2px 10px rgba(0,0,0,0.4);
	padding: 2px;
	background: #889;
	margin-bottom: 5px;
	width: 120px;
	height: 180px;
  border-radius:4px;
	display:inline-block;
	vertical-align: top;
  header {
		background: #eee;
		font-weight:bold;
		padding: 3px;
		font-size: 1em;
		text-align:center;
		margin-bottom:2px;
	}
	img {
		width: 120px;
		height: 80px;
		background:white;
	}
	p {
		font-size: 0.8em;
		line-height: 15px;
		padding: 3px;
		background: white;
		margin: 3px 0;
		border-radius: 3px;
  }
}

.bank {
	.stack {
		display:inline-block;
		margin-right:10px;
		.card {
			position: relative;
			display:block;
			margin-bottom: -181px;
		}
	}
}
