<div class="navbar">
	<div class="navbar-inner">
		<span class="brand">{{#linkTo "index"}}Commerce!{{/linkTo}}</span>
		<ul class="nav">
			<li>{{#linkTo "new"}}Start New Game{{/linkTo}}</li>
			<li>{{#linkTo "games"}}List Games{{/linkTo}}</li>
		</ul>
	</div>
</div>		

{{outlet}}
