<div class="navbar">
	<div class="navbar-inner">
		<span class="brand">{{#linkTo "index"}}Commerce!{{/linkTo}}</span>
		<ul class="nav">
			<li>{{#linkTo "new"}}Start New Game{{/linkTo}}</li>
			<li>{{#linkTo "game_list"}}List Games{{/linkTo}}</li>
		</ul>
	</div>
	<span id="signinButton">
		<span
		class="g-signin"
		data-callback="signinCallback"
		data-clientid="680890813233.apps.googleusercontent.com"
		data-cookiepolicy="single_host_origin"
		data-requestvisibleactions="http://schemas.google.com/AddActivity"
		data-scope="https://www.googleapis.com/auth/plus.login">
		</span>
	</span>
</div>		

{{outlet}}
