<h2>Hand</h2>
<section class="hand">
{{#each content.hand}}
	{{view App.CardView content=this}}
{{/each}}
</section>

{{#if isMyTurn}}
<section class="your-turn">
  It is your turn. Double click a card to play it.
</section>
{{/if}}
