<h2>Welcome to Commerce!</h2>
<p>Login with Google Plus to get started.</p>
<span id="signinButton">
	<span
	class="g-signin"
	data-callback="signinCallback"
	data-clientid="680890813233.apps.googleusercontent.com"
	data-cookiepolicy="single_host_origin"
	data-requestvisibleactions="http://schemas.google.com/AddActivity"
	data-scope="https://www.googleapis.com/auth/plus.login">
	</span>
</span>
